@using EduZone.Models
@model Exam
@{
    ViewBag.Title = "UpdateExam";
    ApplicationDbContext context = new ApplicationDbContext();
    var Groups = context.GetGroups.Where(e => e.CreatorID == Model.CreatorID);
    var Num = context.GetQuestions.Where(e => e.ExamId == Model.Id).Count();
    var Qestions = context.GetQuestions.Where(e => e.ExamId == Model.Id).ToList();

}

@section Top_Link{
    <link href="~/Content/StyleSheet/create-exam.css" rel="stylesheet" />
}


<main class="container my-3 main-profile">
    <form method="post" class="bg-light p-4" action="/Educator/UpdateExam/@Model.Id">
        <h3 class="mb-3"> Form Details </h3>
        <div class='form-info'>
            <div class="mb-3">
                <label for="inputFormCode" class="form-label">Group Name</label>
                <select name="Group_Name" class="dropdown form-control">
                    @foreach (var item in Groups)
                    {
                        if (item.GroupName == Model.GroupName)
                        {
                            <option selected value="@item.Code" class="dropdown-item">@item.GroupName</option>
                        }
                        else
                        {
                            <option value="@item.Code" class="dropdown-item">@item.GroupName</option>
                        }
                    }
                </select>
            </div>
            <div class="mb-5">
                <label for="inputFormTitle" class="form-label">Form Title</label>
                <input value="@Model.FormTitle" name="Form_Title" type="text" required placeholder='Enter the Form title...' class="form-control" id="inputFormTitle" aria-label="Text input with checkbox">
            </div>
            <h4 class="mb-3"> Form Questions </h4>
            <div class='d-flex justify-content-between'>
                <div class="me-3">
                    <label for="N_question_input">Number of Questions</label>
                    <label class="fw-bold" id="NQ">@Num</label>
                    <input type="hidden" name="N_question" id="N_question" value="@Num">
                </div>
                <div class="header d-flex justify-content-start mb-5">
                    <button type='button' class='btn btn-sm btn-outline-info mx-1' onclick="add_Q()" ; id='add_question'> Add Question </button>
                </div>
            </div>
            <!-- All-Q  -->
            <div class='questions container' id='questions_id'>
                <!-- q-n-  -->
                @for (int i = 0; i < Num; i++)
                {
                    int valx = Qestions[i].Id;
                    string Q = $"Q{i}";
                    string QNID = $"QNtxt{i}";
                    string QInput = $"QInput{i}";
                    string QO = $"Q{i}O";
                    string ON = $"ON{i}";
                    <div class='question row' id="@Q">
                        <div class="col-11">
                            <!-- Q-H -->
                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                    <label class='m-0 question_number' id="@QNID">@Q</label>
                                </div>
                                <!-- <input class="form-control question_title" type="text" required placeholder='Enter the question title...'>  -->
                                <textarea id="@QInput" name="@Q" class="form-control question_title" required placeholder='Enter the question title...'>@Qestions[i].QuestionText</textarea>
                            </div>
                            <!-- Q-H -->
                            <!-- O-n-  -->
                            <div class='m-3'>
                                <div id="@QO">
                                    <input type="text" style="display: none;" value="@context.GetQuestionOptions.Where(e => e.QuestionId == valx).Count()" id="@ON">
                                    @{
                                        
                                        var QOptions = context.GetQuestionOptions.Where(e => e.QuestionId == valx).ToList();
                                        for (int j = 0; j < QOptions.Count(); j++)
                                        {
                                            string O = $"O{i}{j}";
                                            string QR = $"Q{i}R{j}";
                                            string QRN = $"QR{i}";
                                            string QI = $"Q{i}I{j}";

                                            <div class="input-group mb-3 option" id="@O">
                                                <div class="input-group-text">
                                                    @if (Qestions[i].CorrectAnswer == j.ToString())
                                                    {
                                                        <input checked class=" mt-0 p-0" value="@j" id="@QR" type="radio" name="@QRN" required>
                                                    }
                                                    else
                                                    {
                                                        <input class=" mt-0 p-0" value="@j" id="@QR" type="radio" name="@QRN" required>
                                                    }
                                                </div>
                                                <input id="@QI" name="@QI" class="form-control option_title" type="text" required placeholder='Enter the option title...' value="@QOptions[j].OptionContent">
                                            </div>
                                        }
                                    }
                                </div>
                                @{
                                    string btnAdd = $"btn_add{i}";
                                    string add_option = $"add_option({i})";
                                    string btnsub = $"btn_sub{i}";
                                    string sub_option = $"sub_option({i})";
                                    string QPI0 = $"QPI{i}";

                                    <button type="button" id="@btnAdd" onclick="@add_option" class="btn btn-sm btn-outline-info px-2 me-2">Add Option</button>
                                    <button type="button" id="@btnsub" onclick="@sub_option" class="btn btn-sm btn-outline-info px-2"> Delete last Option </button>
                                    <div class="mx-3 d-inline">
                                        <label>Points</label>
                                        <input type="number" value="@Qestions[i].Point" name="@QPI0" id="@QPI0" min="0" max="100">
                                    </div>
                                }
                            </div>
                            <!-- O-n-  -->
                        </div>
                        @{
                                string Del_Q = $"Del_Q{i}";
                                string del_question = $"del_question({i})";
                            <div class="col-1">
                                <button class="btn" id="@Del_Q" onclick="@del_question">
                                    <i class="fa-solid fa-delete-left" style="color: #ff1100;"></i>
                                </button>
                            </div>
                        }
                        <hr>
                    </div>
                }
                <!-- q-n-  -->
            </div>
            <!-- All-Q  -->
            <input type="submit" id='submit_btn' value="Save Form" class="btn btn-success">
        </div>
    </form>
</main>



@section bottom_Link{
    <script src="~/Scripts/assessment_create.js"></script>
}
