@using EduZone.Models
@using Microsoft.AspNet.Identity;
@using System.Linq;
@using System.Web;
@model List<Post>
<link href="~/Content/StyleSheet/time-line-for-dector.css" rel="stylesheet" />
@{
    ApplicationDbContext context = new ApplicationDbContext();
    string UserID = User.Identity.GetUserId();
}
<main class="container my-3 pb-4">
    @if (User.IsInRole("Educator"))
    {
        using (Html.BeginForm("AddPost", "Timeline", FormMethod.Post, new { @class = "mt-5", enctype = "multipart/form-data", onsubmit = "return validateForm()" }))
        {
            <div class="timeline ">

                <div class="photo-name">
                    <img class="photo-profile" src="~/Images/@context.Users.FirstOrDefault(e => e.Id == UserID).Image" alt="doctor" />
                    <div class="info">
                        <h2 class="info-name">@context.Users.FirstOrDefault(e => e.Id == UserID).Name</h2>
                    </div>
                </div>
                @Html.AntiForgeryToken()
                <textarea class="m-3" id="ContentOfPost" placeholder="Write new announcement..."></textarea>
                <div class="w-100">
                    <input type="file" name="File" id="fileInput" style="display: none;" accept="image/*,video/*" onchange="onFileSelected(event)" />
                    <img id="PostImage" class="w-100 m-1" />
                </div>
                <div class="line"></div>
                <input type="text" id="Hiddenitem" name="ContentOfPost" style="display: none;" />
                <div class="like-comment live-photo">
                    <div>
                        <span style="cursor: pointer;" onclick=" document.getElementById('fileInput').click();" class="text-secondary ms-2"> <i class="fa-solid fa-photo-film"></i>Photo</span>
                    </div>
                    <button type="button" onclick="Del_image()" class="btn btn-outline-success" id="ClearImage" style="display:none;"> Clear image </button>
                    <button type="submit" onmouseover="ChangeText()" class="btn btn-outline-success"> POST </button>
                </div>
            </div>
        }
    }

    <div id="ishere">

    </div>
    @if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            string _id = item.UserId;
            var userp = context.Users.FirstOrDefault(e => e.Id == _id);
            if (item != null && userp != null)
            {


                <div class="timeline" id="@item.Id">
                    <div class="d-flex justify-content-between">
                        <div class="photo-name">
                            <img class="photo-profile" src="~/Images/@context.Users.Find(_id).Image" alt="photo" />
                            <div class="info">
                                <a data-user-id=@item.UserId data-item-id=@item.Id href="/Profile/ShowProfile/@_id"><h6 class="info-name">@context.Users.Find(_id).Name </h6></a>
                                <p class="info-date"> @item.Date </p>
                            </div>
                        </div>
                        <div>
                            @if (item.UserId == User.Identity.GetUserId())
                            {
                                <li class="nav-item dropdown list-unstyled">
                                    <a class="active dropdown-toggle" href="#" role="" data-bs-toggle="dropdown" aria-expanded="false">
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item text-success" href="/Timeline/UpdatePost/@item.Id"> <i class="fa-solid fa-pencil me-2"></i> Update</a></li>
                                        <li><a class="dropdown-item text-danger" onclick="DeletePstTime(@item.Id)"> <i class="fa-solid fa-trash me-2"></i> Delete</a></li>
                                    </ul>
                                </li>
                            }
                        </div>
                    </div>
                    <div data-user-id=@item.UserId data-item-id=@item.Id class="p-2" id="PostText">
                        @Html.Raw(item.ContentOfPost)
                    </div>
                    @if (item.ImageUrl != "" && item.ImageUrl != null)
                    {
                        <div class="w-100">
                            <img src="/Images/@item.ImageUrl" class="w-100 m-1" style="height:500px;" />
                        </div>
                    }
                    <div class="line"></div>
                    <div class="like-comment-p">
                        <div class="like-comment">
                            @if (context.Likes.ToList().FirstOrDefault(id => id.UserID == User.Identity.GetUserId() && id.PostId == item.Id) != null)
                            {
                                <div style="cursor: pointer;">
                                    <a data-user-id="@User.Identity.GetUserId()" data-item-id="@item.Id" onclick="funlikeTime('@User.Identity.GetUserId()', @item.Id, true ,false)">
                                        <i class="fa-solid fa-thumbs-up me-2 text-success chngcmnt"></i>
                                        <span class="text-secondary">Like</span>
                                    </a>
                                </div>

                            }
                            else
                            {
                                <div style="cursor: pointer;">
                                    <a data-user-id="@User.Identity.GetUserId()" data-item-id="@item.Id" onclick="funlikeTime('@User.Identity.GetUserId()', @item.Id, false, false)">
                                        <i class="fa-solid fa-thumbs-up me-2 text-secondary chngcmnt"></i>
                                        <span class="text-secondary">Like</span>
                                    </a>
                                </div>
                            }
                            <div> <a href="@Url.Action("ShowCommentOfPost",new {item.Id})" class="comment-btn"><i class="fa-solid fa-message me-2 text-secondary"></i> <span class="text-secondary">Comment</span> </a></div>
                        </div>
                        <div class="number-like-comment">
                            @{
                                int numcom = context.Comments.Where(s => s.PostID == item.Id).Count();
                                int numLk = context.Likes.Where(p => p.PostId == item.Id).Count();
                            }
                            <div data-user-id="@item.Id"><b class="lik">@numLk</b> <span class="ms-2 text-secondary likes-span">Like</span> </div>
                            <div data-user-id="@item.Id"><b class="comnt">@numcom</b><span class="ms-2 text-secondary">Comment</span> </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
    else if (User.IsInRole("Student"))
    {
        <hgroup>
            <h2 class="text-info">No Posts Available Now.</h2>
        </hgroup>
    }

    @*real time links*@

    @section bottom_Link
        {
        <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
        <script src="~/Signalr/hubs"></script>
        <script>
                let proxy;
                $(function () {
                    var con = $.hubConnection();
                    proxy = con.createHubProxy("HubClass");
                    con.start();
                    proxy.on("NewPostAdded", function (NewPost, name, Profileimg, PostImage) {
                        console.log(PostImage);
                        if (PostImage == "") {
                            var con = `
                                    <div class="timeline" id = "${NewPost.Id}">
                                        <div class="photo-name">
                                            <img class="photo-profile" src="/Images/`+ Profileimg + `" alt="photo" />
                                            <div class="info">
                                                <a data-user-id=${NewPost.UserId} data-item-id=${NewPost.Id} href="/Profile/ShowProfile/` + NewPost.UserId+`"><h6 class="info-name">` + name + `</h6></a>
                                                <p class="info-dt">       </p>
                                            </div>
                                        </div>
                                        <div  data-user-id=${NewPost.UserId} data-item-id=${NewPost.Id}>
                                            <pre class="news news-en">

                                            </pre>
                                        </div>

                                        <div class="line"></div>
                                        <div class="like-comment-p">
                                            <div class="like-comment">
                                                 <div style="cursor: pointer;">
                                                        <a data-user-id="@User.Identity.GetUserId()"  data-item-id="${NewPost.Id}" onclick="funlikeTime('@User.Identity.GetUserId()',${NewPost.Id}, false,false)">
                                                            <i class="fa-solid fa-thumbs-up me-2 text-secondary chngcmnt"></i>
                                                            <span class="text-secondary">Like</span>
                                                        </a>
                                                </div>
                                                <div> <a href="/Timeline/ShowCommentOfPost?Id=${NewPost.Id}" class="comment-btn"><i class="fa-solid fa-message me-2 text-secondary "></i> <span class="text-secondary">Comment</span> </a> </div>‏
                                            </div>
                                            <div class="number-like-comment">
                                               <div data-user-id=${NewPost.Id}><b class="lik">0</b> <span class="ms-2 text-secondary likes-span">Like</span> </div>
                                               <div data-user-id=${NewPost.Id}><b class="comnt">0</b><span class="ms-2 text-secondary">Comment</span> </div>
                                            </div>
                                        </div>
                                    </div>
                                    `
                            $('#ishere').prepend(con);
                        }
                        else {
                            var con = `
                                    <div class="timeline" id = "${NewPost.Id}">
                                        <div class="photo-name">
                                            <img class="photo-profile" src="/Images/`+ Profileimg +`" alt="photo" />
                                            <div class="info">
                                                <a data-user-id=${NewPost.UserId} data-item-id=${NewPost.Id} href=""><h6 class="info-name">`+name+`</h6></a>
                                                <p class="info-dt">       </p>
                                            </div>
                                        </div>
                                        <div  data-user-id=${NewPost.UserId} data-item-id=${NewPost.Id}>
                                            <pre class="news news-en">

                                            </pre>
                                        </div>
                                        <div class="w-100">
                                            <img src="/Images/`+ PostImage +`" class="w-100 m-1" style="height:500px;" />
                                        </div>
                                        <div class="line"></div>
                                        <div class="like-comment-p">
                                            <div class="like-comment">
                                                 <div style="cursor: pointer;">
                                                        <a data-user-id="@User.Identity.GetUserId()"  data-item-id="${NewPost.Id}" onclick="funlikeTime('@User.Identity.GetUserId()',${NewPost.Id}, false,false)">
                                                            <i class="fa-solid fa-thumbs-up me-2 text-secondary"></i>
                                                            <span class="text-secondary chngcmnt">Like</span>
                                                        </a>
                                                </div>
                                                <div> <a href="/Timeline/ShowCommentOfPost?Id=${NewPost.Id}" class="comment-btn"><i class="fa-solid fa-message me-2 text-secondary"></i> <span class="text-secondary">Comment</span> </a> </div>‏
                                            </div>
                                            <div class="number-like-comment">
                                                <div data-user-id=${NewPost.Id}><b class="lik">0</b> <span class="ms-2 text-secondary likes-span">Like</span> </div>
                                               <div data-user-id=${NewPost.Id}><b class="comnt">0</b><span class="ms-2 text-secondary">Comment</span> </div>
                                            </div>
                                        </div>
                                    </div>
                                      `
                        $('#ishere').prepend(con);
                        }
                        //CONTENT
                        var contentPost = $("div[data-user-id='" + NewPost.UserId + "'][data-item-id='" + NewPost.Id + "']").find("pre.news");
                        contentPost.append(NewPost.ContentOfPost);

                        //DATE
                        let num = Math.floor(Math.random() * 100000) + 1;
                        $(".info-dt").removeClass("info-dt").addClass("info-dt" + num.toString());
                        let str2 = ".info-dt" + num.toString();
                        const date = new Date();
                        const formattedDate = `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`;
                        $(str2).append(formattedDate);

                    });

                    proxy.on("NewCommentAdded", function (msg, usr, comid, numComents, img, postid) {
                        $("div[data-user-id='" + postid + "']").find(".comnt").text(numComents);
                    });

                    proxy.on("NewLikeAddedInTimeLine", function (uid, pid, clr, numLik, realLike) {

                        var newIcon = $("<i>").addClass("fa-solid fa-thumbs-up").addClass("text-" + clr);
                        $("a[data-user-id='" + uid + "'][data-item-id='" + pid + "']").find(".chngcmnt").empty().append(newIcon).append("<span class='ms-2  text-secondary'> Like </span>");
                        $("div[data-user-id='" + pid + "']").find(".lik").text(numLik);

                    });
                    proxy.on("DeletePostTimeLine", function (PostId) {
                        document.getElementById(PostId).remove();
                    });
                    proxy.on("EditPost", function (PostId, content) {

                        var contentPost = $("div[data-item-id='" + PostId + "']").find("pre.news");
                        contentPost.html(content);

                    });

                });

                // call server method
                function funlikeTime(uid, pid, flag,realLike) {
                    proxy.invoke("AddlikeInTimeLine", uid, pid, flag, realLike);
                };
                function onFileSelected(event) {
                    var selectedFile = event.target.files[0];
                    var reader = new FileReader();
                    var imgtag = document.getElementById("PostImage");
                    imgtag.title = selectedFile.name;
                    reader.onload = function (event) {
                        imgtag.src = event.target.result;
                        imgtag.height = 500;
                        ClearImage.style.display = "block";
                    };
                    reader.readAsDataURL(selectedFile);
            }
            function Del_image() {
                var imgtag = document.getElementById("PostImage");
                imgtag.height = 0;
                const fileInput = document.getElementById("fileInput");
                const ClearImage = document.getElementById("ClearImage");
                fileInput.value = "";
                ClearImage.style.display = "none";
            }
            function ChangeText() {
                var textarea = document.getElementById("ContentOfPost");
                var HiddenInput = document.getElementById("Hiddenitem");
                const lines = textarea.value.split("\n");
                var Resualt = "";
                for (const line of lines) {
                    const arabicRegex = /[\u0600-\u06FF]/;
                    if (arabicRegex.test(line)) {
                        Resualt += "<p class=\" news-ar\" >" + line + "</p>";
                    } else {
                        Resualt += "<p class=\" news-en\" >" + line + "</p>";
                    }

                }
                HiddenInput.value = Resualt;
            }
            function DeletePstTime(idPost) {
                proxy.invoke("DeletePostInTimeLine", idPost)
            }
            function validateForm() {
                var input = document.getElementById("ContentOfPost");
                if (input.value === "") {
                    event.preventDefault();
                    return false;
                }
                return true;
            }
        </script>
    }
</main>